
@media screen and (min-width: 768px) {
    .project-card{
        height: 250px;
    }
}
@media screen and (max-width: 1024px) {
    .recent-p-con{
        flex-direction: column;
    }
}
@media screen and (max-width: 600px) {
    .greet-section{
        flex-direction: column;
        align-items: start !important;
    }
    .new-btn{
        width: 100%;
        justify-content: center;
    }
    .mod-date{
        display: none;
    }
}