.nav-bar {
  background-color: #000000; /* Background color set to black */
  color: #d9e0e5; /* Light grayish-blue for text */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #004d99; /* Dark blue border */
}

.split {
  display: flex;
  height: calc(100vh - 50px); 
}

.split > div {
  overflow: hidden;
  background-color: #111111; /* Slightly lighter black */
  border: 1px solid #004d99; /* Dark blue border */
}

.gutter {
  background-color: #2b2b2b; /* Dark gray background for the gutter */
  cursor: col-resize;
  z-index: 1;
}

.gutter.vertical {
  cursor: row-resize;
}

.tabs {
  background-color: #1b1b1b; /* Darker background for tabs */
  color: #a1a1a1; /* Light gray text */
  border-bottom: 2px solid #004d99; /* Dark blue border */
}

.tab {
  background-color: #2e2e2e; /* Dark gray background for tabs */
  color: #d9e0e5; /* Light grayish-blue text */
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.tab.active {
  background-color: #004d99; /* Dark blue background for active tab */
  color: #ffffff; /* White text for active tab */
}

.editor-content {
  background-color: #111111; /* Slightly lighter black for editor content */
  color: #d9e0e5; /* Light grayish-blue text */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000; /* Black background for scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #333333; /* Dark gray for scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555555; /* Medium gray on hover */
}
