.tool-bar{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(15, 14, 14);
    border-bottom: 1px solid rgb(39, 38, 38);
}

.home{
    margin: 0 20px;
    border: 2px solid rgb(85, 83, 83);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 5px;
    background-color: rgb(51, 50, 49);
    cursor: pointer;

}
.tools{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
    width: 50%;
}
.tools span{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.language{
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
    background-color: rgb(51, 50, 49);
    margin-right: 60px;
    border: 2px solid rgb(85, 83, 83);
    border-radius: 8px;
    padding: 4px 8px;
    cursor: pointer;
}